@charset "utf-8";
html,body{height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a:link,a:visited{text-decoration: none;color: #1e1e1e;}
.clearfix:after{
    content: "";display: block;clear: both;
}
img{display: block;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.menuFont{
    font-size: 20px;
    font-weight: 700;
}

.container{width: 1280px;margin: 0 auto;position: relative;}

/* header */
.hd{
    padding: 20px 0;background: white;
    position: fixed;width: 100%;z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.hd .navWrap{
    height: 35px;
    
}
.hd h1{
    width: 165px;height: 35px;
    float: left;
}
.hd h1 img{width: 100%;}
.hd .gnb{float: right;}
.hd .gnb li{float: left;width: 170px;}
.hd .gnb li a{
    display: block;line-height: 35px;
    text-align: center;
}

.slideWrap{
    margin-bottom: 120px;
}
.slideWrap .sItem{
    height: 100vh;
    /* 화면을 봤을 때 브라우저의 크기에 따라 움직이게함 */
    min-height: 400px;
    
}


    

.txtWrap{
    position: absolute;
    left: 50px; top: 450px;
    /* margin-bottom: 2px solid white; */
}

.txtWrap h3{
    font-size: 80px;color: #FFF;
    letter-spacing: -2.6px;
}
.txtWrap p{
    font-size: 24px;color: #FFF;
}



/* section */
.content{height: 200px;background: white; margin-bottom: 100px;}
.conWrap{
    margin-bottom: 30px
}
.conWrapTop{
    float: left;
    height: 124.062px;
    margin-bottom: 20px;
}
.conWrapTop h2{
    display: block;
    font-size: 44px;
}
.conWrapTop h2:after{
    width: 5px;height: 2px;background: yellow;
}
.conWrapBottom{
    position: absolute;
    bottom: 0; right: 0;
    height: 56.1562px;
}
.conWrapBottom h1{
    display: block;
    font-size: 18px;font-weight: 400;
}

/* card */

.img{
    background: _skyblue;
    margin: 0 auto;
    margin-bottom: 100px;
}
.img img{
    width: 100%;display: block;
    box-shadow: rgba(0, 0, 0, 0);
}
.img div.imgView{
    width: calc( ( 1280px - 64px )/ 3 );
    margin-right: 32px;
    float: left;
}
.img div.imgView:last-child{
    margin-right: 0;
}
div.imgView img{
    transition: 0.3s;
    box-shadow: 0.2s;
}
div.imgView img:hover{
    transform: translateY(-1em);
}
.img div.imgView h1{
    font-size: 21px;
    padding: 15px 15px;
}
.img div.imgView p{
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
}

/* banner */
.bannerWrap{
    position: relative;
}
.bannerWrap .txtBox{
    background: #ffd44a;
    height: 338px;
    width: 1114px;
}
.imgBox{
    position: absolute;
    right: 0; top: 102px;
}
.purposeWrap{
    float: left;
}
.purposeWrap h2{
    width: 490px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 30px;
    position: absolute;
    left: 80px; top: 90px;
}
.purposeWrap p{
    width: 490px;
    font-size: 15px;
    letter-spacing: -0.6px;
    font-weight: 500;
    position: absolute;
    left: 80px; top: 191px;
}